.Rproj.user
.Rhistory
.RData
.Ruserdata
.ipynb_checkpoints
/coco-annotator/datasets
/graphs
/invisible
/detectron2/custom_training
*.JPG
*.png
*.jpg
*.jpeg
*.tif
*.bat
*.zip
misc/beetle_stuff/beetle_image_stack
misc/beetle_stuff/*.mp4
misc/hesperis