.Rproj.user
.Rhistory
.RData
.Ruserdata
.ipynb_checkpoints
/coco-annotator/datasets
/graphs
/invisible
/detectron2/custom_training
*.JPG
*.png
*.jpg
*.jpeg
*.tif
*.bat
inference/all_batches_image_meta_mask.csv
inference/all_batches_inference_mask.csv
inference/all_batches_image_meta_keypoint.csv
inference/all_batches_inference_keypoint.csv