absl-py==2.0.0
aiofiles==23.2.1
albumentations==1.3.1
annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
argcomplete==3.1.6
arrow==1.3.0
async-lru==2.0.4
Babel==2.13.1
backports.zoneinfo==0.2.1
black==23.11.0
blis==0.7.11
boto3==1.29.3
botocore==1.32.3
Brotli==1.1.0
cachetools==5.3.2
catalogue==2.0.10
click==8.1.7
cloudpathlib==0.16.0
cloudpickle==3.0.0
confection==0.1.4
contourpy==1.1.1
cycler==0.12.1
cymem==2.0.8
Cython==3.0.5
dacite==1.7.0
Deprecated==1.2.14
dill==0.3.7
dnspython==2.4.2
echo1-coco-split==0.1.5
exceptiongroup==1.1.3
exif==1.6.0
fastai==2.7.13
fastcore==1.5.29
fastdownload==0.0.7
fastprogress==1.0.3
fiftyone==0.22.3
fiftyone-brain==0.13.3
fiftyone-db==0.4.0
fonttools==4.44.1
fqdn==1.5.1
fsspec==2023.12.2
ftfy==6.1.1
funcy==1.18
future==0.18.3
fvcore==0.1.5.post20221221
glob2==0.7
google-auth==2.23.4
google-auth-oauthlib==1.0.0
graphql-core==3.2.3
grpcio==1.59.2
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==1.0.2
httpx==0.25.1
humanize==4.8.0
hydra-core==1.3.2
Hypercorn==0.15.0
hyperframe==6.0.1
imageio==2.32.0
inflate64==1.0.0
iniconfig==2.0.0
iopath==0.1.9
isoduration==20.11.0
jmespath==1.0.1
joblib==1.3.2
json5==0.9.14
jsonlines==4.0.0
jsonpointer==2.4
jsonschema-specifications==2023.11.1
jupyter-events==0.9.0
jupyter-lsp==2.2.0
jupyter_server_terminals==0.4.4
jupyterlab==4.0.8
jupyterlab_server==2.25.1
kaleido==0.2.1
kiwisolver==1.4.5
langcodes==3.3.0
lazy_loader==0.3
Markdown==3.5.1
matplotlib==3.7.3
mkl-service==2.4.0
mongoengine==0.24.2
motor==3.3.2
multivolumefile==0.2.3
murmurhash==1.0.10
mypy-extensions==1.0.0
oauthlib==3.2.2
omegaconf==2.3.0
opencv-python==4.8.1.78
opencv-python-headless==4.8.1.78
overrides==7.4.0
pandas==2.0.3
pathspec==0.11.2
plotly==5.18.0
pluggy==1.3.0
plum-py==0.8.7
pooch==1.8.0
portalocker==2.8.2
pprintpp==0.4.0
preshed==3.0.9
priority==2.0.0
protobuf==4.25.0
py7zr==0.20.8
pyasn1==0.5.0
pyasn1-modules==0.3.0
pybcj==1.0.2
pycocotools==2.0.7
pycryptodomex==3.19.0
pydantic==2.5.3
pydantic_core==2.14.6
pymongo==4.6.0
pyparsing==3.1.1
pyppmd==1.1.0
pytest==7.4.4
pytest-timeout==2.2.0
python-json-logger==2.0.7
pytz==2023.3.post1
PyWavelets==1.4.1
pywin32==305.1
pyzstd==0.15.9
qudida==0.0.4
rarfile==4.1
regex==2023.10.3
requests-oauthlib==1.3.1
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rsa==4.9
s3transfer==0.7.0
scikit-image==0.21.0
scikit-learn==1.3.2
scipy==1.10.1
session-info==1.0.0
smart-open==6.4.0
sortedcontainers==2.4.0
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.4.8
sse-starlette==0.10.3
sseclient-py==1.8.0
starlette==0.32.0.post1
stdlib-list==0.10.0
strawberry-graphql==0.138.1
tabulate==0.9.0
taskgroup==0.0.0a4
tenacity==8.2.3
tensorboard==2.14.0
tensorboard-data-server==0.7.2
termcolor==2.3.0
texttable==1.7.0
thinc==8.2.2
threadpoolctl==3.2.0
tifffile==2023.7.10
tomli==2.0.1
torch==2.1.1
torchaudio==2.1.1
torchvision==0.16.1
tqdm==4.66.1
traitlets==5.13.0
typer==0.9.0
types-python-dateutil==2.8.19.14
tzdata==2023.3
tzlocal==5.2
universal-analytics-python3==1.1.1
uri-template==1.3.0
voxel51-eta==0.12.0
wasabi==1.1.2
wcwidth==0.2.10
weasel==0.3.4
webcolors==1.13
webencodings==0.5.1
Werkzeug==3.0.1
wrapt==1.16.0
wsproto==1.2.0
xmltodict==0.13.0
yacs==0.1.8